.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.LearnContainer{
  width: 100%;
}

.Navbar {
  height: 10vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
}

.Navbar p {
  width: 50%;
  height: 100%;
  border-style: solid;
  border-color: white;
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedItem{
  background-color: lightBlue;
}

.menuContainer {
  width: 100%;
}

.menuHeader {
  height: 10%;
  width: 100%;
  position: absolute;
  border-bottom: 5px solid white;  top: 0;
  text-align: left;
}

.menuList {
  height: 90%;
  width: 100%;
  position: absolute;
  background-color: lightGrey;
  top: 10%;
}

.menuItem {
  display: flex;
  justify-content: center;
  background-color: darkGrey;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5), inset 5px 5px 8px rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  height: 15%;
  width: 100%;
}

.menuSubItemContainer {
  position:absolute;
  top: 15%;
  height: 85%;
  width: 100%;
  overflow: scroll;
}

.circle {
    background: green;
    border-radius: 50%;
    width: 2vh;
    height: 2vh;
    margin-top: 2vh;
}

.hide {
  visibility: hidden
}

.toneTrainingInterface {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuSubItem {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5), inset 5px 5px 8px rgba(0,0,0,0.5);
  border-style: solid;
  border-color: black;
  border-width: 1px;
  color: black;
  text-align: left;
  padding-left: 5vh;
}

.menuSubItemLink {
  margin-left: 5vh;
  width: 15%;
}


.chevron::before {
  margin-top: 4.5vh;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
  margin-left: 90%;
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.defaultButton {
  background-color: white;
  margin-bottom: 30px;
}

.pressedButton {
  background-color: darkgray;
  margin-bottom: 30px;
}

.String-holder{
  width:  100%;
  height: 25px;
  text-align: left;
  margin-bottom: 1vh;
}

.charByChar{
  margin-top: 3vh;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  left: 105%;
  top: -5px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.String-holder span{
  width: 45px;
  display: inline-block;
  text-align: center;
}

.String-holder mark{
  width: 45px;
  display: inline-block;
  text-align: center;
}
