tone_perfect
tone_wav
spectrograms
models
tone_service/phrase_records
tone_service/tone_records
notes.txt
server/node_modules
client/node_modules
get_duration.py
test.py
test_spectrograms
mongo_seed/phrases.tsv
mongo_seed/phrases_edited.tsv
createmodelandspectrogram.py
recorder.py
tutorial.py